/*Change the background color of the page & font family & color of text*/
body {
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    color:brown;
}

/*Adjust the headers - center*/
header {
    width: 100%;
    text-align: center;
    background-color:wheat;
    padding: 10px;
}
h2 {
    width: 100%;
    text-align: center;
}
h3 {
    width: 100%;
    text-align:center;
}

/*Center the paragraph*/
p {
    text-align: center;
}

/*Adjusting the image*/
img {
    width: 400px;
    display: block;
    margin: 0 auto;
}

/*Adjusting the footer*/
footer {
    width: 100%;
    float: left;
    font-size:small;
    font-weight: bold;
    text-align: center;
}

/*Style the WELCOME message*/
#welcome {
    background-color: rgb(206, 138, 138);
    color: black;
    border: 2px solid black;
    padding: 2px;
    text-align: center;
    font-size: 2em;
    width: 100%;
}

/*WEEK 6 - ASSIGNMENT 5 - CAROUSEL STYLE */
#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
